In [1]:
import pandas as pd

pd.set_option('display.max_colwidth', None)

In [28]:
#Cargamos los CSV, hacemos el merge por el ID y comprobamos
df1 = pd.read_csv("Only_2023.csv")
df2 = pd.read_csv("All_news_2023.csv")
df = df1.merge(df2, on="ID", how="outer")
df

,ID,Date_x,Symbol_x,Open,High,Low,Close,Volume,Pct_Change,Date_y,Symbol_y,News
0,2023-01-02 LIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-02,LIN,Russia freezes Linde assets worth $488 mln - Reuters.com
1,2023-01-03 AAPL,2023-01-03,AAPL,130.28,130.90,124.17,125.07,112117471.0,-3.74,NaN,NaN,NaN
2,2023-01-03 ABBV,2023-01-03,ABBV,162.04,163.02,160.81,162.38,4937722.0,0.48,NaN,NaN,NaN
3,2023-01-03 ABT,2023-01-03,ABT,110.51,111.33,108.75,109.58,4171957.0,-0.19,NaN,NaN,NaN
4,2023-01-03 ACN,2023-01-03,ACN,269.20,273.42,267.05,270.26,2250061.0,1.28,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
13500,2024-10-31 PG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-10-31,PG,Procter & Gamble Q1 net profit rises marginally to Rs 212 crore - FashionNetwork.com
13501,2024-10-31 WFC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-10-31,WFC,Woman linked to murder of Wells Fargo HR Manager dies - The Eastleigh Voice News
13502,2024-10-31 WFC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-10-31,WFC,Tobias Harris’ Honest Reaction to Facing Tough 76ers Crowd - Sports Illustrated
13503,2024-10-31 WFC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-10-31,WFC,"FBI says ""phantom hacker"" scam that cost Colorado woman nearly $19K are on the rise - 9News.com KUSA"
13504,2024-10-31 WFC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-10-31,WFC,Suspect linked to murder of Wells Fargo boss has a criminal past - Nation

In [29]:
#Rellenamos los nans de las columnas News, Date_x y Symbol_x (serán las principales)
df["News"] = df["News"].fillna("No news") #Rellenamos con "No news"
df["Date_x"] = df["Date_x"].fillna(df["Date_y"]) #Rellenamos con la fecha de la noticia (columna Date_y)
df["Symbol_x"] = df["Symbol_x"].fillna(df["Symbol_y"]) #Rellenamos con el ticker de la noticia (columna Symbol_y)
df = df.drop(columns=["Date_y",	"Symbol_y"]) #Quitamos ls columnas que ya no queremos
df

,ID,Date_x,Symbol_x,Open,High,Low,Close,Volume,Pct_Change,News
0,2023-01-02 LIN,2023-01-02,LIN,NaN,NaN,NaN,NaN,NaN,NaN,Russia freezes Linde assets worth $488 mln - Reuters.com
1,2023-01-03 AAPL,2023-01-03,AAPL,130.28,130.90,124.17,125.07,112117471.0,-3.74,No news
2,2023-01-03 ABBV,2023-01-03,ABBV,162.04,163.02,160.81,162.38,4937722.0,0.48,No news
3,2023-01-03 ABT,2023-01-03,ABT,110.51,111.33,108.75,109.58,4171957.0,-0.19,No news
4,2023-01-03 ACN,2023-01-03,ACN,269.20,273.42,267.05,270.26,2250061.0,1.28,No news
...,...,...,...,...,...,...,...,...,...,...
13500,2024-10-31 PG,2024-10-31,PG,NaN,NaN,NaN,NaN,NaN,NaN,Procter & Gamble Q1 net profit rises marginally to Rs 212 crore - FashionNetwork.com
13501,2024-10-31 WFC,2024-10-31,WFC,NaN,NaN,NaN,NaN,NaN,NaN,Woman linked to murder of Wells Fargo HR Manager dies - The Eastleigh Voice News
13502,2024-10-31 WFC,2024-10-31,WFC,NaN,NaN,NaN,NaN,NaN,NaN,Tobias Harris’ Honest Reaction to Facing Tough 76ers Crowd - Sports Illustrated
13503,2024-10-31 WFC,2024-10-31,WFC,NaN,NaN,NaN,NaN,NaN,NaN,"FBI says ""phantom hacker"" scam that cost Colorado woman nearly $19K are on the rise - 9News.com KUSA"
13504,2024-10-31 WFC,2024-10-31,WFC,NaN,NaN,NaN,NaN,NaN,NaN,Suspect linked to murder of Wells Fargo boss has a criminal past - Nation

In [30]:
#Renombramos las columnas de Dates y Symbols
df = df.fillna(0)
df.rename(columns={"Date_x": "Date", "Symbol_x": "Symbol"}, inplace=True)

In [31]:
#Ordenamos por ticker y fecha
df = df.sort_values(by=['Symbol', 'Date']).reset_index(drop=True)
df

,ID,Date,Symbol,Open,High,Low,Close,Volume,Pct_Change,News
0,2023-01-03 AAPL,2023-01-03,AAPL,130.280,130.9000,124.170,125.07,112117471.0,-3.74,No news
1,2023-01-04 AAPL,2023-01-04,AAPL,126.890,128.6557,125.080,126.36,89113633.0,1.03,French privacy watchdog fines Apple over personalised ads - Reuters.com
2,2023-01-05 AAPL,2023-01-05,AAPL,127.130,127.7700,124.760,125.02,80962708.0,-1.06,No news
3,2023-01-06 AAPL,2023-01-06,AAPL,126.010,130.2900,124.890,129.62,87754715.0,3.68,No news
4,2023-01-09 AAPL,2023-01-09,AAPL,130.465,133.4100,129.890,130.15,70790813.0,0.41,Apple to replace key Broadcom chip with in-house design - Bloomberg News - Reuters
...,...,...,...,...,...,...,...,...,...,...
13500,2023-12-22 XOM,2023-12-22,XOM,102.310,102.9400,101.820,101.91,12927831.0,0.18,No news
13501,2023-12-26 XOM,2023-12-26,XOM,102.740,103.0300,102.115,102.14,16835144.0,0.23,No news
13502,2023-12-27 XOM,2023-12-27,XOM,102.040,102.5500,101.335,101.66,14535713.0,-0.47,No news
13503,2023-12-28 XOM,2023-12-28,XOM,101.390,101.6100,100.130,100.19,16329252.0,-1.45,No news
13504,2023-12-29 XOM,2023-12-29,XOM,100.370,100.5900,99.620,99.98,17746408.0,-0.21,No news

In [32]:
#Mostramos las 10 mayores subidas
df.nlargest(10, "Pct_Change")

,ID,Date,Symbol,Open,High,Low,Close,Volume,Pct_Change,News
9343,2023-05-25 NVDA,2023-05-25,NVDA,385.230,394.800,366.3500,379.80,154391067.0,24.37,Chip giant Nvidia nears trillion-dollar status on AI bet - Reuters
7590,2023-02-02 META,2023-02-02,META,183.380,197.160,180.1600,188.77,150475687.0,23.28,"Meta stuns Street with lower costs, big buyback, upbeat sales - Reuters"
7591,2023-02-02 META,2023-02-02,META,183.380,197.160,180.1600,188.77,150475687.0,23.28,Alphabet disappoints on sales as ad business slips after pandemic run-up - Reuters
8937,2023-10-19 NFLX,2023-10-19,NFLX,404.740,408.950,392.2601,401.77,28074416.0,16.05,No news
6965,2023-08-08 LLY,2023-08-08,LLY,506.000,538.000,502.7100,521.60,15094503.0,14.87,"Lilly hits record high after Mounjaro fuels forecast raise, rival data - Reuters.com"
9277,2023-02-23 NVDA,2023-02-23,NVDA,234.400,238.880,230.2500,236.64,111799541.0,14.02,No news
7654,2023-04-27 META,2023-04-27,META,239.890,241.685,236.7700,238.56,71196531.0,13.93,No news
1313,2023-02-01 AMD,2023-02-01,AMD,78.470,85.480,77.8800,84.64,152548240.0,12.63,"Intel slashes employee, exec pay amid PC market downturn - Reuters"
2179,2023-05-26 AVGO,2023-05-26,AVGO,747.425,814.980,747.0200,812.73,8250038.0,11.52,No news
3656,2023-03-02 CRM,2023-03-02,CRM,193.120,193.910,185.2000,186.59,37719871.0,11.50,No news

In [34]:
#Mostramos las 10 mayores subidas
df.nsmallest(10, "Pct_Change")

,ID,Date,Symbol,Open,High,Low,Close,Volume,Pct_Change,News
4557,2023-10-02 DHR,2023-10-02,DHR,219.02,221.66,208.96,213.74,6387660.0,-13.85,No news
9667,2023-09-12 ORCL,2023-09-12,ORCL,112.08,113.30,107.30,109.61,68605745.0,-13.50,No news
9731,2023-12-12 ORCL,2023-12-12,ORCL,102.70,104.95,100.69,100.81,57666473.0,-12.44,No news
11367,2023-01-03 TSLA,2023-01-03,TSLA,118.47,118.80,104.64,108.10,231402818.0,-12.24,"Tesla shares suffer New Year's hangover on demand worries, delivery issues - Reuters"
11368,2023-01-03 TSLA,2023-01-03,TSLA,118.47,118.80,104.64,108.10,231402818.0,-12.24,South Korea fines Tesla $2.2 mln for exaggerating driving range of EVs - Reuters
11369,2023-01-03 TSLA,2023-01-03,TSLA,118.47,118.80,104.64,108.10,231402818.0,-12.24,Exclusive: Tesla makes China boss highest-profile executive after Musk - Reuters
9237,2023-12-22 NKE,2023-12-22,NKE,108.26,110.80,107.45,108.04,46666188.0,-11.83,No news
12213,2023-04-25 UPS,2023-04-25,UPS,182.67,183.00,176.22,176.29,12474851.0,-9.99,UPS tempers 2023 revenue view as freight volumes remain strained - Reuters.com
12214,2023-04-25 UPS,2023-04-25,UPS,182.67,183.00,176.22,176.29,12474851.0,-9.99,Wall St sinks as weak earnings fan fears of economic slowdown - Reuters.com
4090,2023-11-16 CSCO,2023-11-16,CSCO,47.41,48.06,46.20,48.04,79057820.0,-9.83,No news

In [42]:
# Sacamos el Top 10 de día con la mayor varíación positiva por cada compañia:
df.loc[df.groupby('Symbol')['Pct_Change'].idxmax()].sort_values(by="Pct_Change", ascending=False).head(10)

,ID,Date,Symbol,Open,High,Low,Close,Volume,Pct_Change,News
9343,2023-05-25 NVDA,2023-05-25,NVDA,385.230,394.8000,366.3500,379.80,154391067.0,24.37,Chip giant Nvidia nears trillion-dollar status on AI bet - Reuters
7590,2023-02-02 META,2023-02-02,META,183.380,197.1600,180.1600,188.77,150475687.0,23.28,"Meta stuns Street with lower costs, big buyback, upbeat sales - Reuters"
8937,2023-10-19 NFLX,2023-10-19,NFLX,404.740,408.9500,392.2601,401.77,28074416.0,16.05,No news
6965,2023-08-08 LLY,2023-08-08,LLY,506.000,538.0000,502.7100,521.60,15094503.0,14.87,"Lilly hits record high after Mounjaro fuels forecast raise, rival data - Reuters.com"
1313,2023-02-01 AMD,2023-02-01,AMD,78.470,85.4800,77.8800,84.64,152548240.0,12.63,"Intel slashes employee, exec pay amid PC market downturn - Reuters"
2179,2023-05-26 AVGO,2023-05-26,AVGO,747.425,814.9800,747.0200,812.73,8250038.0,11.52,No news
3656,2023-03-02 CRM,2023-03-02,CRM,193.120,193.9100,185.2000,186.59,37719871.0,11.50,No news
11387,2023-01-27 TSLA,2023-01-27,TSLA,162.430,180.6800,161.1700,177.90,306590613.0,11.00,"Tesla, insurers take different paths to deal with expensive repairs - Reuters.com"
2930,2023-04-27 CMCSA,2023-04-27,CMCSA,37.700,40.4250,37.6000,40.27,31581371.0,10.27,No news
3166,2023-04-03 COP,2023-04-03,COP,105.130,109.1399,105.0100,108.42,12394311.0,9.28,No news

In [44]:
# Sacamos el Top 10 de día con la mayor varíación negativa por cada compañia:
df.loc[df.groupby('Symbol')['Pct_Change'].idxmin()].sort_values(by="Pct_Change", ascending=True).head(10)

,ID,Date,Symbol,Open,High,Low,Close,Volume,Pct_Change,News
4557,2023-10-02 DHR,2023-10-02,DHR,219.02,221.66,208.96,213.74,6387660.0,-13.85,No news
9667,2023-09-12 ORCL,2023-09-12,ORCL,112.08,113.30,107.30,109.61,68605745.0,-13.50,No news
11367,2023-01-03 TSLA,2023-01-03,TSLA,118.47,118.80,104.64,108.10,231402818.0,-12.24,"Tesla shares suffer New Year's hangover on demand worries, delivery issues - Reuters"
9237,2023-12-22 NKE,2023-12-22,NKE,108.26,110.80,107.45,108.04,46666188.0,-11.83,No news
12213,2023-04-25 UPS,2023-04-25,UPS,182.67,183.00,176.22,176.29,12474851.0,-9.99,UPS tempers 2023 revenue view as freight volumes remain strained - Reuters.com
4090,2023-11-16 CSCO,2023-11-16,CSCO,47.41,48.06,46.20,48.04,79057820.0,-9.83,No news
5077,2023-10-25 GOOG,2023-10-25,GOOG,129.77,130.10,126.09,126.67,58796067.0,-9.60,No news
5327,2023-10-25 GOOGL,2023-10-25,GOOGL,128.16,128.31,125.07,125.61,84366208.0,-9.51,No news
1376,2023-05-03 AMD,2023-05-03,AMD,83.54,85.48,81.02,81.62,109482172.0,-9.22,Focus: China's AI industry barely slowed by US chip export rules - Reuters
4710,2023-05-11 DIS,2023-05-11,DIS,94.80,95.11,91.88,92.31,57127242.0,-8.73,No news